:root {
  --primary-bg-color: #0b1215;
  --primary-text-color: #c2c2c2;
  --accent-color1: #ebb409;
  --accent-color2: #fff;
  --content-max-width: 1200px;
  --content-padding: 1rem;
  --header-height: 3.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--accent-color1);
}

a:hover {
  text-decoration: underline;
}
